body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
  background-color: #c2eeff;
}

header,
h1 {
  background-color: cornflowerblue;
  padding: 0.5% 2%;
  color: whitesmoke;
  text-transform: uppercase;
}

ul.nav_bar {
  list-style-type: none;
  
  margin: 0px;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

ul.nav_bar li {
  display: inline;
  
  float: left;
  text-align: center;
  width: 33.33333333333333333333%;
}

ul.nav_bar li a {
  /* width: 60px; */
  display: block;
  padding: 8px;
  background-color: #b4b4b4;
  color: darkslategrey;
  text-decoration: none;
  border: 1px solid #808080;
}

ul.nav_bar li a:hover {
  background-color: rgb(209, 208, 208);
}

ul.nav_bar li a::selection {
  background-color: dodgerblue;
}

@media screen and (max-width: 600px) {
  ul.nav_bar li.right, 
  ul.nav_bar li {float: none;}
}

.search {
  size: 290px;
  padding: 30%;
  text-align: end;
  margin: 20px;
}

footer {
  background-color: cornflowerblue;
  color: whitesmoke;
  width: 100%;
  margin-top: 100%;
  text-align: center;
  padding: 10px 0;
}
